# -- rust
debug
target

**/*.rs.bk
*.pdb
**/mutants.out*/
rustc-ice-*.txt

# -- python
__pycache__/
*.py[codz]
*$py.class
dist/
build/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.ruff_cache/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/